.content{
    width:400px;
}


.header {
width: 400px;
height: 100px;
background-color: #141f40;
}


.left{
    width: 150px;
    height:250px;
background-color: #80bfa8;    
}

.right{
    width: 250px;
    height: 250px;  
    background-color: #8c2727;  
    display: flex;
}


.footer{
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}

.boxes{
    height: 100px;
    border:10px;
    display:flex;
    align-items: center;
    justify-content: right;


}
.outside-box{
    width: 160px;
    height: 60px;
    background-color: white;
    margin:20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.box1{
    width: 40px;
    height:40px;
    background-color: #a9004b;
    margin-left: 5px;
    
}

.box2{
    width: 40px;
    height:40px;
    background-color: #a9004b;
   
}

.box3{
    width: 40px;
    height:40px;
    background-color: #a9004b;
    margin-right: 5px;
    
}

.main-content{
    display: flex;

}

.boxes2{
    width: 190px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items:end;
    justify-content: space-around;
    
   

    
}
.box22-1{
    width:150px;
    height: 50px;
    background-color: white;
    margin-top:40px;
  
}
.box2-1{
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    margin: 5px;

    
}
.box22-2{
    width:150px;
    height: 50px;
    background-color: white;
   
}
.box2-2{
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    margin:5px;
}

.box22-3{
    width:150px;
    height: 50px;
    background-color: white;
    margin-bottom: 40px;
  
}
.box2-3{
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    margin:5px;
    
}